body {
    margin: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* box1 rules */

.boxOne {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 10px;
}
 
.box {
    background-color: #444;
    color: #FFFFFF;
    border-radius: 7px;
    padding: 20px;
    font-size: 150%;
}

/*End*/

/* boxTwo rules -- Line-based-placement*/
.boxTwo {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 10px;
}

.box2 {
    background-color: aqua;
    color: #333;
    border-radius: 7px;
    padding: 20px;
    font-size: 150%;
}

.A {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.B {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.C {
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.D {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.E {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.F {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}


/* boxThree rules -- Line-based-placement-shorthand */
.boxThree {

    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 10px;
}

.box3 {
    background-color: blueviolet;
    color: #333;
    border-radius: 7px;
    padding: 20px;
    font-size: 150%;
}

.A3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.B3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.C3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.E3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}


/* boxFour rules -- Line-based-placement-shorthand */
.boxFour {

    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 10px;
}

/* grid-area: https://developer.mozilla.org/docs/Web/CSS/grid-area */
.box4 {
    background-color: aquamarine;
    color: #333;
    border-radius: 7px;
    padding: 20px;
    font-size: 150%;
}

.A4 {
    /* grid-area: row-start / column-start / row-end / column-end */
    grid-area: 1 / 2 / 2 / 3;
}
.B4 { grid-area: 2 / 2 / 3 / 3; }
.C4 { grid-area: 2 / 3 / 3 / 4; }
.D4 { grid-area: 1 / 1 / 2 / 2; }
.E4 { grid-area: 2 / 1 / 3 / 2; }
.F4 { grid-area: 1 / 3 / 2 / 4; }


/* boxFive - Line-based-placement-shorthand-spanning-cells */
.boxFive {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 10px;
}

.box5 {
    background-color: chartreuse;
    color: #333;
    border-radius: 7px;
    padding: 20px;
    font-size: 150%;
}

.A5 {
    grid-column: 1 / 3;
    grid-row: 1;
}
.B5 {
    grid-column: 3;
    grid-row: 1 / 3;
}
/* The next to styles are not necessary */
    .C5 {
        grid-column: 1;
        grid-row: 2;
    }
    .D5 {
        grid-column: 2;
        grid-row: 2;
    }


/* boxSix - Line-based-placement-shorthand-using-span-keywords */
.boxSix {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 10px;
}

.box6 {
    background-color: bisque;
    color: #333;
    border-radius: 7px;
    padding: 20px;
    font-size: 150%;
}

.A6 {  /* From column / how many columns wide */
    grid-column: 1 / span 2;
}
.B6 {
    grid-column: 3;
    grid-row: 1 / span 2;
}

/* The next to styles are not necessary */
    .C6 {
        grid-column: 1;
        grid-row: 2;
    }
    .D6 {
        grid-column: 2;
        grid-row: 2;
    }


    /* boxSix - Line-based-placement-shorthand-named-lines */
.boxSeven {
    display: grid;
    grid-template-columns: [col1-start] 100px [col2-start] 100px [col3-start] 100px [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
    gap: 10px;
}

.box7 {
    background-color: chocolate;
    color: #333;
    border-radius: 7px;
    padding: 20px;
    font-size: 150%;
}

.A7 {
    grid-column: col1-start / col3-start;
    grid-row: row1-start;
}
.B7 {
    grid-column: col3-start;
    grid-row: row1-start / row2-end;
}
.C7 {
    grid-column: col1-start; /*  / col2-start */
    grid-row: row2-start;
}
.D7 {
    grid-column: col2-start; /*  / col3-start */
    grid-row: row2-start;
}

/* The repeat keyword */
.boxEight {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, [col] 100px);  /* 4 columns */
    grid-template-rows: repeat(3, [row] auto);  /* 3 rows*/
}

.box8 {
    background-color: darkseagreen;
    border-radius: 7px;
    padding: 20px;
    font-size: 150%;
}

.A8 {
    grid-column: col / span 2;
    grid-row: row;  /**/
}
.B8 {
    grid-column: col 3 / span 2; /* From col 3 and 2 columns */
    grid-row: row;  /* Not needed */
}
.C8 {
    grid-column: col;
    grid-row: row 2;
}
.D8 {
    grid-column: col 2 / span 3;  /* From col 2 and 3 columns */
    grid-row: row 2;  /* Not needed */
}
.E8 {
    grid-column: col 1 / span 4;  /* From col 1 and 4 columns */
    grid-row: row 3;  /* Not needed */
}